{% extends 'base.html' %}
{% block title %} Privacy Policy | Free E-Course {% endblock title %}

{% block content %}
    <section id="privacy-policy" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col text-center">
                            <h1 class="text-dark">Privacy Policy</h1>
                            <hr>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col">
                            <p class="text-dark" style="font-size: 1.3rem; font-family: Arial, serif;">
                                <strong>Embedded content from other websites</strong><br><br>
                                Articles on this site may include embedded content (e.g. videos, images, articles,
                                etc.). Embedded content from other websites behaves in the exact same way as if the
                                visitor has visited the other website. <br><br>

                                These websites may collect data about you, use cookies, embed additional third-party
                                tracking, and monitor your interaction with that embedded content, including tracking
                                your interaction with the embedded content if you have an account and are logged in to
                                that website.
                            </p>
                            <p class="text-dark pt-3" style="font-size: 1.3rem; font-family: Arial, serif;">
                                <strong class="text-dark">Changes to this Privacy Statement</strong><br><br>
                                If Free E-Courses decides to change our privacy policy, we will post those changes to
                                this privacy statement so that you are aware of what information we collect, how we use
                                it, and under what circumstances, if any, we disclose it. Free E-Courses reserves the
                                right to modify this privacy statement at any time.
                                Any such change, update, or modification will be effective immediately upon posting the
                                modified Privacy Policy on the Site, so please review frequently.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
