{% extends 'base.html' %}
{% block title %} Terms and Condition | Free E-Course {% endblock title %}

{% block content %}
    <section id="terms-condition" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-dark">Terms and Condition</h1>
                    <hr>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col">
                    <p class="text-dark" style="font-size: 1.3rem; font-family: Arial, serif;">
                        Please read this agreement carefully before accessing or using the information and
                        services available through the free-e-course.herokuapp.com website ("Site"). By accessing or
                        using the Site, you agree to be bound by the terms and conditions below.
                        Free E-Courses may modify this agreement at any time, and such modifications shall
                        be effective immediately upon posting the modified agreement on the Site. Free E-Courses
                        reserves the right to update these terms and conditions with/without prior notice. If at any
                        time you find these Terms and Conditions unacceptable, you must immediately leave the Site and
                        cease all use of it.
                    </p>
                    <p class="text-dark pt-3" style="font-size: 1.3rem; font-family: Arial, serif;">
                        <strong class="text-dark">User's obligation</strong><br> <br>
                        You understand that all user feedback, data, comments, suggestions, information,
                        text, data, software, sounds, photographs, audio, audiovisual, video, artwork,
                        graphics, messages and other materials of any nature ("Materials") that are
                        transmitted to or via the Site are the sole responsibility of the person from which
                        the Materials originated. This means you, and not Free E-Courses, are entirely
                        responsible for the Materials you transmit through the Site. Further, you understand
                        that by using the Site you may be exposed to Materials that are offensive,
                        objectionable or indecent. <br> <br>

                        You shall not upload to, distribute through or otherwise publish through the Site
                        any Materials which are indecent, libelous, defamatory, obscene, threatening,
                        invasive of privacy or publicity rights, abusive, illegal, harassing, contain
                        expressions of hatred, bigotry, racism or pornography, or are otherwise
                        objectionable, or that would constitute or encourage a criminal offense, violate the
                        rights of any party or violate any law. <br> <br>

                        Your Materials shall not infringe the copyright, trademark, publicity/privacy right
                        or other intellectual property right of any third party. <br> <br>

                        You shall not upload to the Site any Materials that contain viruses or any other
                        computer code, corrupt files or programs designed to interrupt, destroy or limit the
                        functionality or disrupt any software, hardware, telecommunications, networks,
                        servers or other equipment.
                    </p>
                    <p class="text-dark pt-3" style="font-size: 1.3rem; font-family: Arial, serif;">
                        <strong class="text-dark">Links to third party sites</strong><br><br>
                        Free E-Courses may provides links and pointers to Internet sites maintained by third
                        parties from its Site. Such linked sites are not under the control of Free E-Courses
                        and Free E-Courses is not responsible for the contents (including the accuracy, legality
                        or decency) of any linked site or any link contained in a linked site. Free E-Courses is
                        providing these links to you only as a convenience, and the inclusion of any link
                        does not imply endorsement by Free E-Courses of the linked site. Free E-Courses is not
                        responsible for the copyright compliance of any linked site. Free E-Courses will not
                        be liable for any damages or loss arising in any way out of or in connection with or
                        incidental to any information or third party service provided by any third party.
                    </p>
                    <p class="text-dark pt-3" style="font-size: 1.3rem; font-family: Arial, serif;">
                        <strong class="text-dark">General provisions</strong><br><br>
                        If any part of this agreement is held invalid that part shall be severed from this
                        agreement and the remainder of this agreement will continue to be valid and
                        enforceable.<br><br>

                        Termination of this agreement will not end those provisions that are capable of
                        surviving the ending of this agreement.<br><br>

                        The laws governing this agreement will be the laws of Ghana and you irrevocably
                        submit to the exclusive jurisdiction of its Courts.<br><br>

                        For the purposes of this agreement the words "Free E-Courses", "We",
                        "Our" and "Us" refer to free-e-courses.herokuapp.com and "Site" to materials delivered on
                        www.free-e-courses.herokuapp.com.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
